#imgRock {  -fx-image: url("rock.png"); }
#imgPaper {  -fx-image: url("paper.png"); }
#imgScissors {  -fx-image: url("scissors.png"); }

.text-field.error {
    -fx-text-box-border: red ;
    -fx-focus-color: red ;
}